body {
    background-color: #212121;
    justify-content: center;
    white-space: pre-wrap;
}

#container {
    margin: auto;
    color: #B0BEC5;
    padding: 50px;
    padding-left: 25%;
    width: 50%;
    font-family: 'Source Code Pro', monospace;
    font-size: 22px;
}

a {
    text-decoration: none;
    color: #B0BEC5;
    padding-top: 10px;
    padding-bottom: 10px;
}