body {
    background-color: #212121;
    justify-content: center;
    white-space: pre-wrap;
    font-family: 'Source Code Pro', monospace;
}

#container {
    margin: auto;
    color: #B0BEC5;
    padding: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 50%;
    font-size: 18px;
    /* border: 1px #B0BEC5 solid; */
    border-radius: 10px;
    justify-content: center;
}

#titleBar {
    background-color: #212121;
    color: #B0BEC5;
    width: 50%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: auto;
    text-emphasis: center;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #B0BEC5;
    padding-top: 10px;
    padding-bottom: 10px;
}

.group {
    padding: 10px;
    display: inline-flexbox;
    margin: auto;
    justify-content: center;
}